<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apelab.example.repository.mapper.SampleMapper">
  <resultMap id="BaseResultMap" type="com.apelab.example.repository.domain.SampleDomain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>

  <update id="updateSampleById"
          parameterType="com.apelab.example.repository.domain.SampleDomain">
    update sample
    set update_by = #{updateBy,jdbcType=VARCHAR},
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateSample"
          parameterType="com.apelab.example.repository.domain.SampleDomain">
    update sample
    set update_by = #{updateBy,jdbcType=VARCHAR},
      name = #{channelName,jdbcType=VARCHAR},
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSample" resultMap="BaseResultMap">
    select *
    from sample
    where delete_flag = 0
    and id = #{id,jdbcType=BIGINT}
  </select>

</mapper>